    <main class="main">
        <form action="/login" method="post" class="form">
            <div class="form__header">
                <p class="form__title">welcome</p>
                <p class="form__sub-title">login with your username</p>
            </div>
            <div class="form__input">
                <label for=" username">username / email</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="form__input">
                <label for="password">password</label>
                <input type="password" name="password" id="password">
            </div>
            <button class="btn form__submit">
                login
            </button>

        </form>
    </main>