@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;800;i400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
}

.nav {
  display: flex;
  width: 100%;
  padding: 12px;
  gap: 24px;
  background-color: black;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: lightgreen;
}

.header {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_heading {
  text-transform: capitalize;
  font-size: 86px;
}

.header_heading .nodejs {
  color: rgb(16, 231, 16);
}

.btn {
  border: 0;
  padding: 12px 24px;
  color: white;
  background-color: rgb(0, 214, 0);
  border-radius: 8px;
}
